<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="IKVM.OpenJDK.Beans" version="7.2.4630.5" targetFramework="net45" />
  <package id="IKVM.OpenJDK.Charsets" version="7.2.4630.5" targetFramework="net45" />
  <package id="IKVM.OpenJDK.Corba" version="7.2.4630.5" targetFramework="net45" />
  <package id="IKVM.OpenJDK.Core" version="7.2.4630.5" targetFramework="net45" />
  <package id="IKVM.OpenJDK.Jdbc" version="7.2.4630.5" targetFramework="net45" />
  <package id="IKVM.OpenJDK.Management" version="7.2.4630.5" targetFramework="net45" />
  <package id="IKVM.OpenJDK.Media" version="7.2.4630.5" targetFramework="net45" />
  <package id="IKVM.OpenJDK.Misc" version="7.2.4630.5" targetFramework="net45" />
  <package id="IKVM.OpenJDK.Naming" version="7.2.4630.5" targetFramework="net45" />
  <package id="IKVM.OpenJDK.Remoting" version="7.2.4630.5" targetFramework="net45" />
  <package id="IKVM.OpenJDK.Security" version="7.2.4630.5" targetFramework="net45" />
  <package id="IKVM.OpenJDK.SwingAWT" version="7.2.4630.5" targetFramework="net45" />
  <package id="IKVM.OpenJDK.Text" version="7.2.4630.5" targetFramework="net45" />
  <package id="IKVM.OpenJDK.Util" version="7.2.4630.5" targetFramework="net45" />
  <package id="IKVM.OpenJDK.XML.API" version="7.2.4630.5" targetFramework="net45" />
  <package id="IKVM.OpenJDK.XML.Bind" version="7.2.4630.5" targetFramework="net45" />
  <package id="IKVM.OpenJDK.XML.Parse" version="7.2.4630.5" targetFramework="net45" />
  <package id="IKVM.Runtime" version="7.2.4630.5" targetFramework="net45" />
  <package id="IKVM.Runtime.JNI" version="7.2.4630.5" targetFramework="net45" />
  <package id="log4net" version="2.0.8" targetFramework="net45" />
  <package id="Microsoft.AspNet.Mvc" version="5.2.3" targetFramework="net45" />
  <package id="Microsoft.AspNet.Razor" version="3.2.3" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.3" targetFramework="net45" />
  <package id="Microsoft.Office.Interop.Excel" version="15.0.4795.1000" targetFramework="net45" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net45" />
  <package id="NPOI" version="2.3.0" targetFramework="net45" />
  <package id="poi" version="3.10.0.0" targetFramework="net45" />
  <package id="SharpZipLib" version="0.86.0" targetFramework="net45" />
  <package id="Unity" version="5.7.3" targetFramework="net45" />
  <package id="Unity.Abstractions" version="3.3.0" targetFramework="net45" />
  <package id="Unity.Interception" version="5.5.1" targetFramework="net45" />
</packages>