<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ISearch" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8055/Search.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_ISearch" contract="RmoteSearchService.ISearch"
                name="BasicHttpBinding_ISearch" />
        </client>
    </system.serviceModel>
</configuration>