<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Unity.Configuration"/>
  </configSections>
  <unity>
    <sectionExtension type="Microsoft.Practices.Unity.InterceptionExtension.Configuration.InterceptionConfigurationExtension, Unity.Interception.Configuration"/>
    <containers>
      <container name="ruanmouContainer">
        <extension type="Interception"/>
        <register type="Micro.Wanter.Interface.IBaseService,Micro.Wanter.Interface" mapTo="Micro.Wanter.Service.BaseService, Micro.Wanter.Service"/>
        <register type="Micro.Wanter.Interface.IUserService,Micro.Wanter.Interface" mapTo="Micro.Wanter.Service.UserService, Micro.Wanter.Service"></register>
        <register type="Micro.Wanter.Interface.ISalaryService,Micro.Wanter.Interface" mapTo="Micro.Wanter.Service.SalaryService, Micro.Wanter.Service"></register>
        <register type="Micor.Remote.Interface.ISearch,Micor.Remote.Interface" mapTo="Micor.Remote.Service.SearchService,Micor.Remote.Service">
          <interceptor type="InterfaceInterceptor"/>
          <interceptionBehavior type="Micro.Wanter.Common.AOP.LogBehavior, Micro.Wanter.Common"/>
        </register>
        <register type="Micro.Es6.Interface.IMainRCJournalInfoService,Micro.Es6.Interface" mapTo=" Micro.Es6.Service.MainRCJournalInfoService,  Micro.Es6.Service"></register>
      </container>
    </containers>
  </unity>
</configuration>